body{
	background-image: url("../images/sayagata-400px.png");
}

.mainPanel{
	padding-bottom: 10px; 
}

.PPlink{
      background-color: #4aaae5;
      border: solid black 1px;
      margin: 10px 0px;
      max-width: 150px;
      max-height: 150px;
      
    }

 .PphBg{
 	border: solid #4aaaa5 1px;
    margin: 10px 0px;

 }

#pPic{
	margin-right: 20px;

}

#navName{
	background-color: #4aaaa5;
	color: #ffffff;
}


.page-header h1{
	color: #4aaaa5;
}

#comment{
	
	width: 100%;
	height: 200px;
	border: solid 1px #ddd;
 	font-size: 15px;
	padding: 5px;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
	background-color: #ddd;
	text-align: center;
	padding-top: 10px;
	clear: both;
	border-top: solid #4aaaa5 5px; 
}

.Connect{
	max-width: 80px;
}

.small-card {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  margin: 20px 5px;
  border: 3px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float: left;
}

.small-card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.1s;
}

.cLink{
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 24px;
	color: #fff;
	background-color: #4aaaa5;
	font-weight: bold;
  border-radius: 4px;
  padding: 5px;
}

.label{
  border-radius: 3px;
  position: relative;
  bottom: -190px;
  left: -1px;
  text-align: center;
  width: 100%;
  padding: 2px;
  margin: 1px;
  background-color: #4aaaa5;
}
.embed-vid {
  padding: 10px; 
  margin: 20px 5px;
  border: 3px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float: left;
}
.em-label{
  border-radius: 3px;
  position: relative;
  text-align: center;
  width: 100%;
  padding: 2px;
  margin: 1px;
  background-color: #4aaaa5;
}

.card-holder{
  width: 90%;
  margin: 8px 25px;
  padding: 5px;
  border: 3px solid rgb(220, 220, 220);
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float: left;
  background-color: #4aaaa5;
  color: lightgrey;
  text-align: center;
}

.im-link {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 110px;
  margin: 25px 5px;
  border: 3px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  float: left;
}

.im-link:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.1s;
}

.im-lab{
  background-color: #4aaaa5;
  border-radius: 3px;
  position: relative;
  bottom: -150px;
  left: -1px;
  text-align: center;
  width: 100%;
  padding: 2px;
  margin: 1px;
  opacity: .85;
}

.iLink{
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}

.im-link-l {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 310px;
  margin: 20px 5px;
  border: 3px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 5;
}
.im-link-l:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.1s;
}
.im-lab-l{
  background-color: #4aaaa5;
  border-radius: 3px;
  position: relative;
  bottom: -250px;
  left: -1px;
  text-align: center;
  width: 100%;
  padding: 2px;
  margin: 1px;
  opacity: .85;
}